.color-palette{
    color: #22577A;
    color: #38A3A5;
    color: #57CC99;
    color: #80ED99;
    color: #C7F9CC;

}

body {
    display: flex;

    /* vertical */
    align-items: center;

    /* horizontal */
    justify-content: center;

    /*das ist notwendig, damit das zentrieren funktioniert (vertikal) vh=viewpoint height*/
    min-height: 100vh;

    background-image: linear-gradient(to right,#38A3A5, #80ED99);

}

.card-container{
    background-color: #22577A;
    color: white;
    width: 350px;
    max-width: 100%;
    text-align: center;
    padding: 20px;
    padding-top: 25px;
    border-radius: 50px;
}


.button{
    background-color: #38A3A5;
    color: white;
    border-radius: 50px;
    width: 250px;
    height: 50px;
    font-size: larger;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    font-family: 'Didact Gothic', sans-serif;
}

button:hover{
    background-color: #57CC99;
    cursor: pointer;
}

input[type="submit"] {
    background-color: #38A3A5;
    color: white;
    border-radius: 50px;
    width: 250px;
    height: 50px;
    font-size: larger;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    font-family: 'Didact Gothic', sans-serif;
  }

  input[type="submit"]:hover{
    background-color: #57CC99;
    cursor: pointer;
}

.avatar{
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 1px solid;
    border-color: #80ED99;
    padding: 7px;
}

hr{
    color: #80ED99; 
    margin-bottom: 20px;
}

h1{
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bold;
}

p, label{
    line-height: 0;
    margin-bottom: 25px;
    font-family: 'Didact Gothic', sans-serif;
}

.form{
    padding-top: 10px;
    padding-bottom: 10px;
}
