
body{
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    max-height: 100vh;
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent div{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    text-align: center;  
    font-weight: 800;
    width: 150px;
    height: 150px;
    background-color: aquamarine;
    border-radius: 10%;   
    display: flex;
    align-items: center;
    justify-content: center;

}

.parent div:nth-child(2n){
    background-color: fuchsia;
}

.parent div:hover{
    cursor: pointer;
    transition: 3s ease-in-out;
    rotate: 180deg;

}


.parent div:hover::after{
    content: "🎷🐛";
}

.parent div:hover p {
    display: none;
}

.parent{
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    
}